.plan-recommendation {
    &.error {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        bottom: 0;
        h4 {
            max-width: 75%;
            margin-left: auto;
            margin-right: auto;
            @include small {
                max-width: 100%;
            }
        }
        .back {
            @extend %button;
            display: inline-block;
            margin-top: $default-spacing/2;
        }
        @include medium{

        }
    }
    .plan-name {
        color: $green-primary;
        font-size: 2.655rem;
        @include small {
            font-size: 2.25rem;
        }

    }
    .value-proposition {
        font-size: 1.33rem;
        font-weight: 600;
        @include medium {
            font-size: 1.25rem;
        }
    }
    .details {
        padding: $default-spacing/2;
        margin-left: auto;
        margin-right: auto;
        @include small {
            padding-left: 0;
            padding-right: 0;
            border-collapse: collapse;
        }
    }
    .detail {
        font-size: 1rem;
        color: $text-color_light;
        td {
            padding: 0.5rem 1rem;
            &:first-child {
                text-align: left;
            }
        }

        @include small {
            font-size: 1rem;
            &:nth-child(odd){
                background-color: $light-gray;
            }
        }
    }

    .final-pitch {
        font-weight: 400;
        @include medium {
            br {display: none;}
        }
    }
    .buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        a {
            @extend %button;
            display: block;
            flex: 0 1 52%;
            margin-top: $default-spacing/2;
            margin-bottom: $default-spacing/2;
            &:last-of-type{ margin-bottom: $default-spacing/4;}
            @include small{
                flex-basis: 70%;
            }
        }

    }

}