.form {
    //transition: bottom 400ms;
    //transition: max-height 400ms;
    transition: all 400ms;
    position: relative;
    bottom: 0;
    max-height: 100vh;

    &.is-hidden {
        //bottom: 100vh;
        max-height: 0;
        overflow-y: hidden;
        padding-top:0;
        padding-bottom: 0;
        + .plan-recommendation {
            opacity: 1;
            //top: 0;
        }
    }
}

.plan-recommendation {
    transition: opacity 400ms;
    opacity: 0;
    //transition: top 400ms;
    //position: relative;
    //top: 100vh;
}
