#root {position: relative;}
.plan-recommendation {
    opacity: 0;
    z-index: 1;
    max-height: 100%;
    overflow-y: hidden;
}

.form,
.plan-recommendation {
    transition: opacity 250ms;
}
.form {
    position: relative;
    z-index: 3;
    &.is-hidden {
        z-index: 1;
        opacity: 0;

        + .plan-recommendation {
            z-index: 2;
            opacity: 1;
            max-height: unset;
            overflow-y: auto;
        }
    }
}

.plan-recommendation {
    transition: all 200ms;
    opacity: 0;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    margin-bottom: $default-spacing; // emulates body padding;
}
