@import "../../node_modules/normalize-scss/sass/normalize/import-now";
@import "colors";

$default-spacing: 2rem;


body {
    padding: $default-spacing;
    font-family: sans-serif;
    background-color: $light-gray;
}

.form {
    padding: $default-spacing;
    background-color: $base;

    transition: bottom 400ms;
    position: relative;
    bottom: 0;

    &.is-hidden {
        position: relative;
        bottom: 100vh;
    }





}

