@import "../../node_modules/normalize-scss/sass/normalize/import-now";
@import "colors";

$default-spacing: 2rem;


body {
    padding: $default-spacing;
    font-family: "Proxima Nova",proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: $light-gray;
}

.form {
    padding: $default-spacing;
    background-color: $base;
}
.plan-recommendation {
    .details {

    }
    .detail {
        display: flex;
        div {
            padding: 0.5rem;
        }
    }

}


@import "transition-animation";