@import "../../node_modules/normalize-scss/sass/normalize/import-now";
@import "colors";
@import "variables-and-mixins";

html {min-width: 320px;}

body {
    padding: $default-spacing;
    font-family: "Proxima Nova",proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: $light-gray;
    @include small {
        padding: 0;
        background-color: $base;
    }
}

h1,h2,h3,h4 {
    font-weight: 600;
    margin-top:0;
    margin-bottom:0;
    padding-top: $default-spacing/2;
    padding-bottom: $default-spacing/2;
}

a {
    color: #000;
    text-decoration: none;
    &:hover {text-decoration: underline;}
}
select,
input {
    &:focus {
        outline-color: $green-primary;
    }
}

.guide-headline {
    font-weight: 400;
    padding-top: 0;
    @include medium{
        font-size: 1.5rem;
    }
}

.form,
.plan-recommendation {
    padding: $default-spacing;
    background-color: $base;
    text-align: center;
    max-width: $medium-width;
    margin-left: auto;
    margin-right: auto;
}


@import "form-component";
@import "plan-recommendation-component";
@import "transition-behavior";
